/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(http://fonts.gstatic.com/s/raleway/v9/CcKI4k9un7TZVWzRVT-T8_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*nav-bar*/

.whiteColor {
    color: #ffffff !important;
}

.navbar-brand, .navbar-nav > li > a {
    cursor: pointer;
    font-size: 1.25em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-default {
    background: transparent;
    border-color: transparent;
    padding: 1%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    border-bottom: 4px solid #FF4C00;
}

.navbar-nav {
    min-height: 54px;
}
.navShadows {
    background: url("../img/motivo/rowsback.png"), -webkit-linear-gradient(#00AE68, rgba(0, 174, 104, 0.44));
    background: url("../img/motivo/rowsback.png"), -moz-linear-gradient(#00AE68, rgba(0, 174, 104, 0.44));
    background: url("../img/motivo/rowsback.png"), -o-linear-gradient(#00AE68, rgba(0, 174, 104, 0.44));
    background: url("../img/motivo/rowsback.png"), linear-gradient(#00AE68, rgba(0, 174, 104, 0.44));
    border: transparent;
    box-shadow: 3px 3px 22px #000;
    padding: 0;
}

/*modal*/
.btnSignIn {
    background-color: transparent;
    box-shadow: 0px 0px 17px rgb(99, 201, 132) inset;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    letter-spacing: 1px;
    padding: 2% 10%;
    text-transform: uppercase;
}

.btnSignIn:hover, .btnBegin:hover, .getOffer:hover {
    background: url("../img/motivo/rowsback.png"), -webkit-linear-gradient(#00AE68, #006B23);
    background: url("../img/motivo/rowsback.png"), -moz-linear-gradient(#00AE68, #006B23);
    background: url("../img/motivo/rowsback.png"), -o-linear-gradient(#00AE68, #006B23);
    background: url("../img/motivo/rowsback.png"), linear-gradient(#00AE68, #006B23);
    color: white;

}


#account li {
    list-style: none;
}

a, button {
    outline: none !important;
}

/*register*/
.container {
    overflow: hidden;
}

#register h2 {
    font-size: 1.6em;
    margin-bottom: 4%;
    text-align: center;
}

/*footer*/

footer {
    background: url("../img/motivo/rowsback.png"), -webkit-linear-gradient(rgba(0, 174, 104, 0.44), #00AE68);
    background: url("../img/motivo/rowsback.png"), -moz-linear-gradient(rgba(0, 174, 104, 0.44), #00AE68);
    background: url("../img/motivo/rowsback.png"), -o-linear-gradient(rgba(0, 174, 104, 0.44), #00AE68);
    background: url("../img/motivo/rowsback.png"), linear-gradient(rgba(0, 174, 104, 0.44), #00AE68);
    border: transparent;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0px 3px 22px #000;
    padding: 1%;
    text-align: center;
}

@media (min-width: 1200px) {
    .pack {
        border: 1px solid #ff9000;
        box-shadow: 0px 0px 41px #ccc;
    }

    .pack {
        margin-bottom: 11%;
        margin-top: 8%;
        padding: 4% 4% 0 4%;
        height: 340px;
        min-height: 340px;
        max-height: 340px;
    }

    .packPremium .line {
        border: 1px solid #ffffff;
        width: 79%;
        margin: 0 auto;
    }

    .line {
        border: 1px solid #4AC594;
        width: 79%;
        margin: 0 auto;
    }

    .packPremium ul {
        font-weight: bold;
    }

    ul {
        padding-right: 40px;
    }

    li {
        list-style: none;
        margin-bottom: 12px;
        text-align: justify;
    }

    .textWhite {
        color: white;
    }

    #account {
        margin-top: 5%;
        margin-bottom: 6%;
    }

    .noMargin {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .packPremium .body {
        padding: 4% 1% 1% 0%;
        height: 190px;
        min-height: 220px;
        max-height: 220px;
    }

    .body {
        padding: 4% 1% 1% 0%;
        height: 170px;
        min-height: 190px;
        max-height: 190px;
    }

    .packPremium.backgroundFour:hover, .pack:hover {
        box-shadow: 0px 0px 40px #000;
    }

    .packPremium .headPack {
        color: #ffffff;
    }

    .myOffer {
        box-shadow: 0px 0px 17px rgb(99, 201, 132) inset;
        color: #4AC594;
        text-transform: uppercase;
    }

    .headPack {
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.38);
        color: #4AC594;
        font-size: 2.3em;
        margin-bottom: 0;
        padding: 1%;
    }

    .backgroundFour {
        background: #4AC594;
    }

    .packPremium {
        box-shadow: inset 0px 0px 46px rgba(0, 0, 0, 0.32);
        height: 380px;
        min-height: 380px;
        max-height: 380px;
        padding: 4% 4% 0 4%;
    }

    .textRule {
        text-shadow: 0px 0px 1px #000;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 481px) and (max-width: 768px) {
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle {
        border-color: #fff;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #FF4C00 !important;
        border-bottom: none !important;
    }
}

@media (max-width: 480px) {

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle {
        border-color: #fff;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #FF4C00 !important;
        border-bottom: none !important;
    }

}